.bookmark-container h2{
    width: 411px;
height: 80px;

    background-color: #6047EC;
}
.marked-style{
    
    padding-top: 10px;
    width: 411px;
height: 1352px;

background: rgba(17, 17, 17, 0.05);
border-radius: 8px;
}
.blog-style{
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: 60px;
    text-align: center;
    font-size: medium;
    font-weight: 200px;

}