.profile-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.bookmark-container{
    display: flex; flex-direction: column;
}
@media  screen and(min-width:577px) and(max-width:992px) {
    .profile-container{
        flex-direction: column;
        
    }

    
}
