.blog{
  margin-left: 20px;
  margin-top: 70px;
}
/*.blog-info{
    margin-left: 60px;
}*/
.blog img{
    width:845px;
    height: 450px;
    border-radius: 8px;
}
.intro-info{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    
}
.name{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
}
.profile-image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.body-style{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    width: 737px;
    height: 128px;
    text-align: left;
    margin-left: 60px;
}
.read-button{
    text-decoration: underline;
    border-style: none;
    color: purple;
}
.bookmark{
    border-style: none;
    background-color: white;
    text-align: center;
}
.bookmark-container{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}